.connection-app {
	font-family:"play",
		fixedsys,
		consolas,
		monospace;
	width: 100%;
	margin: 0 auto;
	margin-left: 0px;
	padding: 10px;
	border: 1px solid #000;
	box-shadow: 2px 2px 4px #888;
	background-color: #c0c0c0;
	position: relative;
	box-sizing: border-box;
}

.content {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	margin-right: 20px;
}

textarea {
	width: 100%;
	height: 40px;
	margin-right: 10px;
	padding: 5px;
	font-size: 14px;
	border: 1px solid #000;
	background-color: #fff;
	resize: none;
}

.connect-button {
	padding: 5px 10px;
	font-size: 14px;
	border: 1px solid #000;
	background-color: #e0e0e0;
	cursor: pointer;
}

.connect-button:active {
	background-color: #d0d0d0;
	box-shadow: inset 1px 1px 2px #888;
}

.traffic-light {
	width: 20px;
	height: 20px;
	margin-left: 10px;
	border: 1px solid #000;
	background-color: #f00;
	/* default red */
}

.status-row {

	padding: 5px;

	width: 100%;
	background-color: #ccc;
	box-sizing: border-box;
}

.status-message {
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

@media screen and (max-width: 600px) {
	.connection-app {
		width: 100%;
	}
	.status-message {
		flex-direction: column;
	}
	
}