.swap-component  {
  box-sizing: border-box;
  background-color: #bebebe;
  max-width: 100vw;
  height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}

.swap-component>div {
  border: #d1d1d0 outset 2px;
  margin: 2px;
}

.field-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.field-group label {
  flex: 0 0 120px;
  /* Label width */
  max-width: 100%;
  margin-right: 10px;
}

.field-group button,
.field-group input,
.field-group select,
.field-group span {
  flex: 1;
  /* Grow to fill space */
  min-width: 20px;
  /* Minimum width of inputs and button */
  margin-right: 10px;
  /* Spacing between elements */
}

@media (max-width: 600px) {

  /* Adjust breakpoint as needed */
  .field-group {
    flex-direction: column;
    align-items: stretch;
  }

  .field-group label {
    flex: 0 0 auto;
    /* Allow label to fit content */
    margin-right: 0;
    /* Remove right margin on small screens */
  }

  .field-group button,
  .field-group input,
  .field-group select,
  .field-group span {
    width: 100%;
    /* Full width on small screens */
    margin-right: 0;
    /* Remove right margin on small screens */
    margin-bottom: 5px;
    /* Add some bottom margin for spacing */
  }
}

.select-button{
  max-width: 50px;
  min-width: none!important;
}

.swap-toolbar{
  background-color: #c0c0c0;
display: flex;
}

.swap-toolbar-icon {
  margin:auto;
  font-size: 2em ;
}

.swap-toolbar-button
{
  margin: 2px 5px 2px 2px;  
  border: #d1d1d0 outset 2px;
  background-color: #c0c0c0;

}
.swap-toolbar-button:hover
{
  background-color: #d1d1d0;
}
.swap-toolbar-button:active
{
  background-color: #bebebe;
  border: #bebebe inset 2px;
}

.field-group label {
  font-weight: 600;
}
.optimal-route{
  
  font-size: 0.8em;
  font-weight: 600;
  color: #0000ff;
}

.status-text{
  font-size: 0.8em;
  font-weight: 600;
  background-color: #c0c0c0;
  padding: 3px;
  border: #d1d1d0 outset 2px;
}

.swap-progress-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
  flex-direction: column;
}

.swap-explorer{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 10px;
  flex-direction: column;
  font-size: 0.8em;
  font-weight: 600;

}

.field-group .address{
  width: calc(100% - 10px);
  font-size: 0.6em;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.swap-component .tooltip {
  width:fit-content;
  max-width: 100%;
  padding: 5px;
  border-bottom: 1px dotted black;
  background-color: #eaebf4;
  color: black;
  font-weight: 400;
  cursor: help;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  float: right;
  text-align: left;
}

.optimal-route{
  width: calc(100% - 20px);
  text-align: right;
  
}

.token-select{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items:stretch;
  justify-content: space-between ; 
  margin-bottom: 10px;
  flex-direction: row;
  
  flex-grow: 1;
}
